/* alternative side bar */

.wrapper {
  display: flex;
  justify-content: flex-start;
}
.wrapper .sidebar {
  background: linear-gradient(var(--blueDark), var(--blueDark));
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar.hidden {
  transform: translate(-225px);
}

.wrapper .sidebar .profile img {
  display: block;
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  margin: 0 auto;
}

ul {
  padding: 0;
}

.navlink {
  cursor: pointer;
}
.wrapper .sidebar ul li .navlink:hover,
.wrapper .sidebar ul li .navlink.active {
  color: var(--blueLight);

  background: white;
  border-right: 2px solid var(--blueLight);
}

.wrapper .sidebar ul li .navlink:hover .icon,
.wrapper .sidebar ul li .navlink.active .icon {
  color: var(--blueLight);
}

.wrapper .sidebar ul li .navlink:hover:before,
.wrapper .sidebar ul li .navlink.active:before {
  display: block;
}

.wrapper .sidebar ul li .navlink {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid var(--blueLight);
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li .navlink .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  transition: all 0.5s ease;
}

.content.full {
  margin-left: 225px;
}
