@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --blueDark: rgb(0, 153, 255);
  --blueLight: rgb(0, 132, 255);
  --green: #45cb85;
  --dark: rgb(33 37 41);
  --title: #495057;
  --shadow: 0 3px 3px rgba(56, 65, 74, 0.1);
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.mainPage {
  min-height: 100vh;
  background: #f3f1f7;
}

.topBar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.topBar i {
  font-size: 18px;
}
.topBar i:hover {
  color: var(--blueLight);
}

.btn-primary {
  background: linear-gradient(var(--blueDark), var(--blueDark)) !important;
  border-color: var(--blueLight) !important ;
}
.btn-secondary {
  background: var(--green) !important;
  border-color: var(--green) !important ;
}

.btn-primary:active,
.btn-secondary:active {
  border: inset 2px solid white !important;
  filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795)) !important;
}
.btn-outline-primary:hover {
  background: var(--green) !important;
}

.btn-outline-primary {
  border-color: var(--green) !important ;
  color: var(--green);
}

.btn-outline-primary:active {
  filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795)) !important;
}

/* sidebar */
.sidebar {
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  overflow: auto;
  /*  box-shadow: 1px 1px 0px var(--green);*/
}

.sidebar.hidden {
  transform: translate(-100%);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    position: relative;
  }
  .sidebar li {
    float: center;
  }
  .content {
    margin-left: 0 !important;
  }
  .sidebar.hidden {
    transform: translateY(-100%);
    height: 0;
    opacity: 0;
  }
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar .profile img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.navlink {
  cursor: pointer;
}
.sidebar ul li {
  display: block;
}
.sidebar ul li .navlink:hover,
.sidebar ul li .navlink.active {
  color: white;
  /*  background: var(--green);*/
  /*  outline: 1px solid white;*/
}

.sidebar ul li .navlink:hover i,
.sidebar ul li .navlink.active i {
  color: white;
}

.sidebar i {
  /*  filter: drop-shadow(1px 1px 0px rgba(128, 128, 128, 0.496)) !important;*/
  color: white;
}

.sidebar ul li .navlink:hover:before,
.sidebar ul li .navlink.active:before {
  display: block;
}

.sidebar ul li .navlink {
  display: block;
  padding: 13px 30px;
  /*  border-bottom: 1px solid var(--blueLight);*/
  color: grey;
  font-size: 16px;
  position: relative;
  font-weight: bold;
}

.sidebar ul li .navlink .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.content {
  height: 100%;
  transition: all 0.5s ease;
  margin-left: 250px;
  overflow-x: hidden !important;
}

.content.full {
  margin-left: 0;
}

/* login  */
.login {
  min-height: 100vh;
  background: linear-gradient(var(--blueDark), var(--blueDark));
}

.green {
  color: green;
}

.red {
  color: red;
}

/* dashboard */
.dashboard_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.dashboard_card {
  padding: 20px;
  border-radius: 15px;
  /*  height: 160px;*/
  width: 320px;
  color: black;
  overflow: hidden;
  /*  border: 1px solid grey;*/
  background: white;
  box-shadow: 0 3px 3px rgba(56, 65, 74, 0.1);
  transition: all 0.3s ease;
}

.dashboard_card:hover {
  box-shadow: 0 5px 10px rgba(56, 65, 74, 0.2);

  transform: translateY(-2px);
  /*  outline: 2px dotted aquamarine;*/
}

.card_title {
  font-size: 20px;
  font-weight: 900;
  color: black;
}

.card_value {
  color: var(--title);
  font-weight: bold;
  font-size: 28px;
}

.small {
  /*  font-weight: bold;*/
  font-size: 13px;
}

/* sites */
.logo {
  height: 60px;
}

/*table*/
table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 500px;
  width: 100%;
}
/*table thead th {
  background: rgb(33 37 41) !important;
  color: white;
}*/
table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 10px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #eee;
  text-align: left;
  border-top: solid 1px #bbb;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
/*thead {
  background: rgb(33 37 41);
  color: white;
}*/

.date {
  min-width: 100px;
}

.loader_wrapper {
  height: 50px;
  margin-bottom: 20px;
}

.loader {
  border: 8px solid #cfcfcf;
  border-radius: 50%;
  border-top: 8px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.addDeposit {
  font-size: 18px;
  font-weight: bold;
}

/* cicles */
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.circle {
  padding: 20px;
  width: 235px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: black;
  box-shadow: var(--shadow);
  background: white;
  transition: all 0.3s ease;
}

.circle:hover {
  box-shadow: 0 5px 10px rgba(56, 65, 74, 0.2);
  transform: translateY(-2px);
  /*  outline: 2px dotted aquamarine;*/
}

.inner-circle {
  display: flex;
  align-items: flex-start;

  flex-direction: column;
  justify-content: center;
}

.circle-title {
  font-size: 1rem;
  color: black;
}
.circle-value {
  color: var(--title);
  font-size: 1.6rem;
}

.button {
  background: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button_icon {
  background: var(--green);
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition-duration: 0.6s;
  border-radius: 3px;
  color: white;
  outline: 1px solid var(--green);
  vertical-align: middle;
  box-shadow: 1px 1px 2px rgba(56, 65, 74, 0.5);
}

.button_icon:hover {
  border: none;
  /*  transform: scale(0.95);*/
  /*  background: var(--green);
  color: white;*/
  box-shadow: none;
}

.button_icon:active,
.button_icon:focus {
  border: none;
  outline: 1px solid grey;
}

.tableCard {
  padding: 20px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background: white;
}
