@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --blueDark: rgb(0, 153, 255);
  --blueLight: rgb(0, 132, 255);
  --green: rgb(1, 236, 119);
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
}

.mainPage {
  min-height: 100vh;
  min-width: 100vw;
  background: #f5f6fa;
}

.topBar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.topBar i {
  font-size: 18px;
}
.topBar i:hover {
  color: var(--blueLight);
}

.btn-primary {
  background: linear-gradient(var(--blueDark), var(--blueDark)) !important;
  border-color: var(--blueLight) !important ;
}

/* sidebar */
.sidebar {
  background: linear-gradient(var(--blueDark), var(--blueDark));
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  overflow: auto;
}

.sidebar.hidden {
  transform: translate(-100%);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    /* height: auto; */
    position: relative;
    /* justify-content: flex-end; */
  }
  .sidebar li {
    float: center;
  }
  .content {
    margin-left: 0 !important;
  }
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar .profile img {
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.navlink {
  cursor: pointer;
}
.sidebar ul li {
  display: block;
}
.sidebar ul li .navlink:hover,
.sidebar ul li .navlink.active {
  color: white;

  background: var(--green);
  border-right: 2px solid var(--blueLight);
}

.sidebar ul li .navlink:hover .icon,
.sidebar ul li .navlink.active .icon {
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(128, 128, 128, 0.479));
}

.sidebar ul li .navlink:hover:before,
.sidebar ul li .navlink.active:before {
  display: block;
}

.sidebar ul li .navlink {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid var(--blueLight);
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.sidebar ul li .navlink .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.content {
  height: 100%;
  transition: all 0.5s ease;
  margin-left: 250px;
  overflow-x: hidden !important;
}

.content.full {
  margin-left: 0;
}

/* login  */
.login {
  min-height: 100vh;
  background: linear-gradient(var(--blueDark), var(--blueDark));
}

.green {
  color: greenyellow;
}

.red {
  color: red;
}

/* dashboard */
.dashboard_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.dashboard_card {
  padding: 40px;
  border-radius: 30px;
  height: 150px;
  width: 250px;
  background: linear-gradient(var(--blueDark), var(--blueDark));
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffffa2; */
  /* inset 0px 0px 10px 10px rgb(1, 160, 252); */
  box-shadow: 2px 2px 4px #bebebe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.dashboard_card i {
  color: white;
}

.card_title {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-bottom: 5px;
}

.card_value {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.small {
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
}

/* sites */
.logo {
  height: 60px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  /* min-width: 450px; */
}

.table thead {
  background: var(--green) !important;
}

tbody tr {
  background: white;
  vertical-align: middle;
  filter: drop-shadow(1px 1px 1px rgba(128, 128, 128, 0.795));
  /* border-bottom: 2px solid var(--blueDark); */
}
td {
  padding: 0 20px;
}

thead {
  background: linear-gradient(var(--blueDark), var(--blueDark));
  color: white;
}

.date {
  min-width: 100px;
}
